﻿@model EncuestasINEI.Models.Respuesta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Respuesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pregunta.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_Encuesta.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_Encuesta.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
