﻿@model EncuestasINEI.Models.Pregunta

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar esta pregunta?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encuesta.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encuesta.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPregunta.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPregunta.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index", new { id_encuesta = Session["encuesta_id"] })
        </div>
    }
</div>
