﻿@model IEnumerable<EncuestasINEI.Models.Encuesta> 

@{
    ViewBag.Title = "EncuestasPorCosto";
}


<h2>Encuestas Por Costo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Costo1","Mínimo costo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Costo1", "", new { @class = "form-control valid", @data_val = "true", @data_val_required = "El monto es requerido",
                                                    @type = "number", @min = 0, @step = "0.01" })
            </div>
        </div>
        <div class="form-group">
           @Html.Label("Costo2", "Máximo costo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Costo2", "", new { @class = "form-control valid", @data_val = "true", @data_val_required = "El monto es requerido",
                                                    @type = "number", @min = 0, @step = "0.01"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Activo", "Activos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBox("Activo")
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Inactivo", "Inactivos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBox("Inactivo")
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (Session["Encuestas"] != null)
{
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Costo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AlcanceNacional)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlcanceNacional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
            </tr>
        }
        </table>
}

else if (ViewBag.Resultado != null)
{
    <font color="red">@ViewBag.Resultado</font>
}
 
@{ 
    Session["Encuestas"] = null;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}