﻿@{
    ViewBag.Title = "EliminarPregunta";
}

<h1>¡Error!</h1>
<h4>
    No se puede eliminar esta pregunta
</h4>
<br />
<h4>@ViewBag.Error</h4>


<br />
<p>
    @Html.ActionLink("Volver", "Index", "Preguntas", new { id_encuesta = Session["encuesta_id"] }, null)
</p>