﻿
@{
    ViewBag.Title = "EliminarTipoPregunta";
}

<h1>¡Error!</h1>
<h4>
    No se puede eliminar este tipo de pregunta
</h4>
<br />
<h4>@ViewBag.Error</h4>


<br />
<p>
    @Html.ActionLink("Volver", "Index", "TipoPreguntas")
</p>
