﻿@model IEnumerable<EncuestasINEI.Models.Usuario>

@{
    ViewBag.Title = "ActividadEncuestados";
}

<h2>Actividad de los Encuestados</h2>

<div>
    <img src="@Url.Action("Reporte1")" alt="ChartBar"/>
</div>
