﻿@model IEnumerable<EncuestasINEI.Models.Usuario>

@{
    ViewBag.Title = "UsuariosPorEncuesta";
}

<h2>Usuarios de la encuesta: @ViewBag.NombreEncuesta</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Ver respuestas", "DetallesEncuestaResuelta", "Respuestas", new { encuestaID = Session["IDEncuesta"], usuarioID = item.ID }, null)
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Volver", "EncuestasActivas", "Encuestas")
</p>
