﻿@using Microsoft.AspNet.Identity
@if (Session["CurrentUser"] != null)
{
    using (Html.BeginForm("LogOff", "Usuarios", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + ((EncuestasINEI.Models.Usuario)Session["CurrentUser"]).Nombre + "!", "EditarUsuarioLogueado", "Usuarios", routeValues: null, htmlAttributes: new { title = "Configuración" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Session</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrar", "Create", "Usuarios", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Usuarios", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
